@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Inter:wght@400;700&display=swap');

:root{
  --nav-color: rgb(28, 186, 189);
  --terminal-border-radius: 12px;
}

*{
  margin:0;
  padding:0;
  color:black;
}

body{
  font-family: 'Poppins', sans-serif;
}
