.article-template{
    min-height: 100vh;
    background-color: aliceblue;
}
.article-template .article-header{
    min-height: 22vh;
    width: 56vw;
    padding-top: 1vw;
    place-self: center;
}
.article-template .article-header .article-title{
    width: 52vw;
    border-bottom: solid 1px black;
}
.article-template .article-header .date-author{
    display: flex;
    justify-content: space-between;
}
.article-template .article-content{
    display: flex;
    place-content: center;
    min-height:78vh;
}
.article-template .article-content img{
    max-height: 80vh;
    height: auto;
    width: 56vw;
    border-radius: 8px;
}
.article-template section{
    padding-bottom: 1vw;
}
.article-template section p{
    padding-bottom: 1vw;
}
.article-template .article-left, .article-template .article-right{
    flex: 1;
}
.article-template .article-body{
    flex: 0 0 56vw;
}
.article-template .article-body p .latex{
    font-size: var(--font-size-math);
}

@media(max-width:100px){
    .article-body{
        flex:1;
    }
    .article-left, .article-right{
        display: none;
    }
}