.home-about .indent{
    margin-left: 1vw;
}
.home-about{
    height:100vh;
    background-image: linear-gradient(rgb(19, 121, 181), rgb(19, 85, 193));
    display: flex;
    color:white;
    place-content: center;
}
.home-about h2{
    color:rgb(239, 242, 243);
    font-size: clamp(1rem, 3.5vw, 3.5rem);
    font-weight: 600;
}
.home-about div{
    color:white;
    margin-top: 15vh;

}
.home-about .ha-img{
    color:white;
    padding-right: 10vw;
}
.home-about img{
    width: clamp(90px, 30vw, 360px);
    height: clamp(120px, 80vh, 480px);
}

.home-about ul li{
    color:white;
    list-style: none;
    font-size: clamp(1rem, 2.75vw, 2.5rem);
    padding-top: 2vh;
}

.home-about .ha-educ{
    color:white;
    width: 32vw;
    padding-right: 0vw;
}
.home-about .ha-skills{
    color:white;
}
