.home-video{
    min-height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: green;
}
.hv-text{
    text-align: center;
    font-size: 8rem;
    font-weight: 600;
    color:green;
    z-index: 1;
}
.home-bv{
    position: absolute;
    right: 0;
    bottom:0;
    z-index: 0;
}
@media(min-aspect-ratio: 16/9){
    .home-bv{
        width:100vw;
        height:auto;
        max-height: 100vh;
    }
}
@media(max-aspect-ratio: 16/9){
    .home-bv{
        width:auto;
        max-width: 100vw;
        height:100vh;
    }
}