.vid-left{
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.vid-left h2{
    font-size: 4rem;
    text-align: left;
    padding: 2vh 4vw;
    color:white;
}
.vid-left p{
    color:white;
}
.vid-left .vl-content{
    display: flex;
    place-content: center;
}
.vid-left .vl-content .vl-about{
    margin-top: -2vh;
    width: 44vw;
    padding: 0vh 4vw;
    margin-left: 2vw;
}
.vl-about h6{
    color:white;
}
.vid-left .vl-slides{
    position: relative;
    width: 40vw;
    height: 70vh;   
}
.vid-left .vl-slides img{
    height: 58vh;
    margin-left: 1vw;
}
.vid-left .vl-slides .slide{
    z-index: 1;
    position: absolute;
    width: 100%;
    clip-path: circle(0% at 0 50%);
}
.vid-left .vl-slides .slide.active{
    clip-path: circle(150.0% at 0 50%);
    transition: 1s;
    transition-property: clip-path;
}
.vid-left .vl-slides .slide img{
    z-index: 1;
    width: 100%;
    border-radius: 5px;
}
.vid-left .vl-slides .gallery-nav{
    z-index: 2;
    position: absolute;
    display: flex;
    bottom: 30px;
    left:50%;
    transform: translateX(-50%);
}
.vid-left .vl-slides .gallery-nav .btn{
    background: rgba(255, 255, 255, 0.693);
    width: clamp(16px, 1.25vw, 24px);
    height: clamp(16px, 1.25vw, 24px);
    margin: 10px;
    border-radius: 50%;
    cursor: pointer; 
}
.vid-left .vl-slides .gallery-nav .btn.active{
    background: rgb(0, 238, 255);
    box-shadow:  0 0 2px rgba(0, 0, 0, .5);
}
@media (max-width:620px){
    .vl-slides{
        width: 400px;
        height: 250px;
    }
    .vl-slides .slide .info{
        padding: 10px 25px;
    }
    .vl-slides .slide .info h2{
        font-size: 35px;
    }
    .vl-slides .slide .info p{
        width: 70%;
        font-size: 15px;
    }
    .vl-slides .gallery-nav{
        bottom: 25px;
    }
    .vl-slides .gallery-nav .btn{
        width: 100px;
        height: 100px;
        margin: 8px;
    }
}
  