.vid-left{
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.vid-left h2{
    font-size: 4rem;
    text-align: left;
    padding: 2vh 4vw;
    color:white;
}
.vid-left h3{
    font-size: 3.5rem;
    text-align: left;
    padding: 0px 12px;
    color:white;
}
.vid-left .vl-content{
    display: flex;
    place-content: center;
}
.vid-left .vl-content .vl-about{
    width: 38vw;
    font-size: 1.75rem;
    padding: 0vh 4vw;
    color:white;
    margin-left: 4vw;
}
.vid-left .vl-slides{
    z-index: 2;
    position: relative;
    width: 600px;
    height: 500px;  
    margin-right: 2vw;  
}
.vid-left .vl-slides img{
    width: 600px;
    height: 425px;    
}
.vid-left .vl-slides .slide{
    z-index: 1;
    position: absolute;
    width: 100%;
    clip-path: circle(0% at 0 50%);
}
.vid-left .vl-slides .slide.active{
    clip-path: circle(150.0% at 0 50%);
    transition: 1s;
    transition-property: clip-path;
}
.vid-left .vl-slides .slide img{
    z-index: 1;
    width: 100%;
    border-radius: 5px;
}
.vid-left .vl-slides .slide .info{
    margin-top: 36vh;
    position: absolute;
    top:0;
    padding: 18px 18px;
}
.vid-left .vl-slides .slide .info h3{
    color:white;
    font-size: 2.5rem;
    background: rgba(11, 78, 99, 0.841);
    border-radius: 4px;
    width: min-content;
    min-width: 20vw;
}
.vid-left .vl-slides .gallery-nav{
    z-index: 2;
    position: absolute;
    display: flex;
    bottom: 30px;
    left:50%;
    transform: translateX(-50%);
}
.vid-left .vl-slides .gallery-nav .btn{
    background: rgba(255, 255, 255, 0.693);
    width: 1vw;
    height: 1vw;
    margin: 10px;
    border-radius: 50%;
    cursor: pointer; 
}
.vid-left .vl-slides .gallery-nav .btn.active{
    background: rgb(0, 238, 255);
    box-shadow:  0 0 2px rgba(0, 0, 0, .5);
}
@media (max-width:620px){
    .vl-slides{
        width: 400px;
        height: 250px;
    }
    .vl-slides .slide .info{
        padding: 10px 25px;
    }
    .vl-slides .slide .info h2{
        font-size: 35px;
    }
    .vl-slides .slide .info p{
        width: 70%;
        font-size: 15px;
    }
    .vl-slides .gallery-nav{
        bottom: 25px;
    }
    .vl-slides .gallery-nav .btn{
        width: 100px;
        height: 100px;
        margin: 8px;
    }
}
  