.vid-right{
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.vid-right h2{
    font-size: clamp(3.9rem, 4vw, 4rem);
    text-align: right;
    padding: 2vh 8vw;
    color:white;
}
.vid-right p{
    color:white;
}
.vid-right .vr-content{
    display: flex;
    place-content: center;
    margin: 0vh 4vw;
}
.vid-right .vr-content .vr-about{
    margin-top: -2vh;
    width: 46vw;
    padding: 0vh 4vw;
    margin-right: 2vw;
}
.vr-about h6{
    color:white;
}
.vid-right .vr-content .vr-slides{
    margin: 0vh 4vw 0vh 0vw;
}
.vid-right .vr-slides{
    position: relative;
    width: 40vw;
    height: 70vh;      
}
.vid-right .vr-slides img{
    height: 425px;    
}
.vid-right .vr-slides .slide{
    z-index: 1;
    position: absolute;
    width: 100%;
    clip-path: circle(0% at 0 50%);
}
.vid-right .vr-slides .slide.active{
    clip-path: circle(150.0% at 0 50%);
    transition: 1s;
    transition-property: clip-path;
}
.vid-right .vr-slides .slide img{
    z-index: 1;
    width: 100%;
    border-radius: 5px;
}
.vid-right .vr-slides .gallery-nav{
    z-index: 2;
    position: absolute;
    display: flex;
    bottom: 30px;
    left:50%;
    transform: translateX(-50%);
}
.vid-right .vr-slides .gallery-nav .btn{
    background: rgba(255, 255, 255, 0.693);
    width: clamp(16px, 1.25vw, 24px);
    height: clamp(16px, 1.25vw, 24px);
    margin: 10px;
    border-radius: 50%;
    cursor: pointer; 
}
.vid-right .vr-slides .gallery-nav .btn.active{
    background: rgb(0, 238, 255);
    box-shadow:  0 0 2px rgba(0, 0, 0, .5);
}
@media (max-width:620px){
    .vr-slides{
        width: 400px;
        height: 250px;
    }
    .vr-slides .slide .info{
        padding: 10px 25px;
    }
    .vr-slides .slide .info h2{
        font-size: 35px;
    }
    .vr-slides .slide .info p{
        width: 70%;
        font-size: 15px;
    }
    .vr-slides .gallery-nav{
        bottom: 25px;
    }
    .vr-slides .gallery-nav .btn{
        width: 100px;
        height: 100px;
        margin: 8px;
    }
}
  